langchain>=0.1.0
langchain-community>=0.0.10
langchain-text-splitters>=0.0.1
langchain-core>=0.1.0
chromadb>=0.4.0
sentence-transformers>=2.2.2
transformers>=4.30.0
torch>=1.13.1
requests
yfinance
tqdm
python-dotenv
pymupdf
scikit-learn
pytesseract
pillow
easyocr
google-cloud-vision
fastapi